<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binfenjiari">

    <application
        android:name="com.biu.modulebase.binfenjiari.datastructs.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/logo_xiangqu"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AAMainVote3Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CommonSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize"/>

        <activity android:name=".activity.CommonSearchResultActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateUnchanged|adjustResize"/>

        <activity
            android:name=".activity.AvVideoDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize"/>

        <activity
            android:name=".activity.AvPostActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"/>

        <activity
            android:name=".activity.NavigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PracticeTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ReportWorksPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MineMovementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MineProjectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MinePublishActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MineIntegralActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MineGrowingPathActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MineCollectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NaviHomeSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NaviHomeSearchAudioVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OtherPersonCenterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.YoungReporterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.YoungReporterMediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.YoungReportTopicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.YoungReporterGracefulActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CommentDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NaviHomeMovementListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MovementDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MovementEvaluateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NaviHomeBaseListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BaseRankingListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BaseJidiListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BaseJidiDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MovementListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ProjectListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NaviHomeProjectListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NaviHomeVideoAudioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MovementCalendlerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CommVoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />


    </application>

</manifest>